@model PakinProject.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center my-4">Create New Product</h1>

<div class="container">
    <h4>Product Details</h4>
    <hr />
    <div class="row">
        <div class="col-md-6 mx-auto">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="ProductCode" class="control-label"></label>
                    <input asp-for="ProductCode" class="form-control" />
                    <span asp-validation-for="ProductCode" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ProductName" class="control-label"></label>
                    <input asp-for="ProductName" class="form-control" />
                    <span asp-validation-for="ProductName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" type="number" step="0.01" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="imageFile" class="control-label">Upload Image</label>
                    <input type="file" id="imageFile" name="imageFile" class="form-control" accept="image/*" />
                    <span asp-validation-for="ImageBase64" class="text-danger"></span>
                </div>

                <div class="form-group" style="margin-top : 20px">
                    <input type="submit" value="Create" class="btn btn-success btn-block" />
                </div>
            </form>
        </div>
    </div>
</div>

<div class="text-center">
    <a asp-action="Index" class="btn btn-link">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
