<div class="container-fluid position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
        <div class="container-fluid">
            <!-- Logo Section -->
            <button type="button" class="btn text-primary mx-2" data-bs-toggle="modal" data-bs-target="#searchModal">
                <i class="fa fa-search"></i> <!-- ไอคอน Search -->
            </button>

            <!-- Navbar Toggle for Mobile -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <!-- Display Username -->
                        <li class="nav-item">
                            <a class="nav-link text-primary" href="#">Welcome, @User.Identity.Name</a>
                        </li>
                        <!-- Logout Button -->
                        <li class="nav-item">
                            <form asp-controller="Account" asp-action="Logout" method="post" class="form-inline">
                                <button type="submit" class="btn btn-link nav-link text-primary">Logout</button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <!-- Login and Register Links -->
                        <li class="nav-item">
                            <a class="nav-link text-primary" href="@Url.Action("Login", "Account")">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-primary" href="@Url.Action("Register", "Account")">Register</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>