@model RegisterViewModel
@{
    Layout = "~/Views/Account/_Layout.cshtml";
}
<body>

    <div class="bg-container">
        <img src="/landingpage/img/bg-register.jpg" alt="Background" class="bg-fullscreen">
    </div>

<div class="container">
    <div class="register-card">
    <h2>Register</h2>
    <p>create the account here!</p>
        <form asp-action="Register" method="post">
            <div class="form-group">
                <label for="Email">Email:</label>
                <input type="email" asp-for="Email" class="form-control">
                <span asp-validation-for="Email"></span> <!-- การแสดงข้อผิดพลาดจาก validation -->
            </div>
            <div class="form-group">
                <label>Password:</label>
                <input type="password" asp-for="Password" class="form-control">
                <span asp-validation-for="Password"></span> <!-- การแสดงข้อผิดพลาดจาก validation -->
            </div>
            <div class="form-group">
                <label>Confirm Password:</label>
                <input type="password" asp-for="ConfirmPassword" class="form-control">
                <span asp-validation-for="ConfirmPassword"></span> <!-- การแสดงข้อผิดพลาดจาก validation -->
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>

    <!-- ใส่ข้อความแสดงผลสำหรับการสมัครสมาชิกสำเร็จ -->
        <div>
            @if (TempData["Message"] != null)
            {
                <p>@TempData["Message"]</p>
            }
        </div>
    </div>
</div>
</body>
@section Scripts {
    <!-- สคริปต์สำหรับการตรวจสอบ validation ของ ASP.NET Core -->
    <partial name="_ValidationScriptsPartial" />
}
