<div class="container-fluid bg-dark px-5 d-none d-lg-block">
    <div class="row gx-0 align-items-center" style="height: 45px;">
        <!-- โลโก้ -->
        <div class="col-lg-2 d-flex justify-content-start" style="padding-right: 10px;">
            <a href="#" class="d-inline-flex align-items-center">
            </a>
        </div>

        <!-- ข้อความตรงกลาง -->
<div class="col-lg-7 d-flex justify-content-center">
    <small class="text-light">Enjoy free shipping and discounts of up to <span style="text-decoration: underline;">75%</span> on a wide range of products! 
        <i class="fa-solid fa-cart-shopping ms-2"></i>
    </small>
</div>


        <!-- ไอคอนโซเชียล -->
        <div class="col-lg-3 d-flex justify-content-end">
            <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href="https://www.instagram.com/tn_s7h5/" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-twitter fw-normal"></i>
            </a>
            <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href="https://www.instagram.com/tn_s7h5/" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-facebook-f fw-normal"></i>
            </a>
            <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href="https://www.instagram.com/tn_s7h5/" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-youtube fw-normal"></i>
            </a>
            <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href="https://www.instagram.com/tn_s7h5/" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-instagram fw-normal"></i>
            </a>
        </div>
    </div>
</div>
