
/********** Root Pakin CSS **********/
:root {
    --primary: #44d62c;
    --secondary: #19b300;
    --light: #EEF9FF;
    --dark: #222;
}


/*** Spinner ***/
.spinner {
    width: 40px;
    height: 40px;
    background: var(--primary);
    margin: 100px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}


@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}



@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Heading ***/
h1,
h2,

.fw-bold {
    font-weight: 800 !important;
    font-family: 'Prompt', sans-serif;
}

h3,
h4,
.fw-semi-bold {
    font-weight: 700 !important;
    font-family: 'Prompt', sans-serif;
}

h5,
h6,
.fw-medium {
    font-weight: 600 !important;
    font-family: 'Prompt', sans-serif;
}

body {
    font-family: 'Prompt', sans-serif;
}


/*** Button ***/
.btn {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn-primary,
.btn-secondary {
    color: #FFFFFF;
    box-shadow: inset 0 0 0 50px transparent;
}

.btn-primary:hover {
    box-shadow: inset 0 0 0 0 var(--primary);
}

.btn-secondary:hover {
    box-shadow: inset 0 0 0 0 var(--secondary);
}

.btn-square {
    width: 36px;
    height: 36px;
}

.btn-sm-square {
    width: 30px;
    height: 30px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}


/*** Navbar ***/
.navbar-dark .navbar-nav .nav-link {
    font-family: 'Inter', sans-serif;
    position: relative;
    margin-left: 25px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-dark .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--dark);
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: var(--primary);
}


.navbar-dark .navbar-toggler {
    color: var(--primary) !important;
    border-color: var(--primary) !important;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-dark {
        position: relative;
        background: #FFFFFF;
    }

    .navbar-dark .navbar-nav .nav-link,
    .navbar-dark .navbar-nav .nav-link.show,
    .sticky-top.navbar-dark .navbar-nav .nav-link {
        padding: 10px 0;
        color: var(--dark);
    }

}

@media (min-width: 992px) {
    .navbar-dark {
        position: relative;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid rgba(256, 256, 256, .1);
        z-index: 999;
    }
    
    .sticky-top.navbar-dark {
        position: fixed;
        background: #FFFFFF;
    }

    .navbar-dark .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        bottom: -1px;
        left: 50%;
        background: var(--primary);
        transition: .5s;
    }

    .navbar-dark .navbar-nav .nav-link:hover::before,
    .navbar-dark .navbar-nav .nav-link.active::before {
        width: 100%;
        left: 0;
    }

    .navbar-dark .navbar-nav .nav-link.nav-contact::before {
        display: none;
    }

}


/*** Carousel ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

@media (max-width: 576px) {
    .carousel-caption h5 {
        font-size: 14px;
        font-weight: 500 !important;
    }

    .carousel-caption h1 {
        font-size: 30px;
        font-weight: 600 !important;
    }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 1.5rem; /* ลดขนาดไอคอน */
    height: 1.5rem;
    background-color: transparent; /* พื้นหลังใส */
    border: 2px solid #00ffff; /* กรอบสีฟ้านีออน */
    border-radius: 50%; /* ทำให้เป็นวงกลม */
    box-shadow: 0 0 10px #00ffff, 0 0 20px #ff00ff, 0 0 30px #00ffff; /* เงาเรืองแสง */
}

.carousel-control-prev,
.carousel-control-next {
    width: 10%; /* ความกว้างของปุ่มควบคุม */
}





/*** Section Title ***/
.section-title::before {
    position: absolute;
    content: "";
    width: 150px;
    height: 5px;
    left: 0;
    bottom: 0;
    background: var(--primary);
    border-radius: 2px;
}

.section-title.text-center::before {
    left: 50%;
    margin-left: -75px;
}

.section-title.section-title-sm::before {
    width: 90px;
    height: 3px;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 6px;
    height: 5px;
    bottom: 0px;
    background: #FFFFFF;
    -webkit-animation: section-title-run 5s infinite linear;
    animation: section-title-run 5s infinite linear;
}

.section-title.section-title-sm::after {
    width: 4px;
    height: 3px;
}

.section-title.text-center::after {
    -webkit-animation: section-title-run-center 5s infinite linear;
    animation: section-title-run-center 5s infinite linear;
}

.section-title.section-title-sm::after {
    -webkit-animation: section-title-run-sm 5s infinite linear;
    animation: section-title-run-sm 5s infinite linear;
}

@keyframes section-title-run {
}
@-webkit-keyframes section-title-run {
    0% {left: 0; } 50% { left : 145px; } 100% { left: 0; }
}

@keyframes section-title-run-center {
}
@-webkit-keyframes section-title-run-center {
    0% { left: 50%; margin-left: -75px; } 50% { left : 50%; margin-left: 45px; } 100% { left: 50%; margin-left: -75px; }
}

@keyframes section-title-run-sm {
}
@-webkit-keyframes section-title-run-sm {
    0% {left: 0; } 50% { left : 85px; } 100% { left: 0; }
}


/*** Service ***/
.service-item {
    position: relative;
    height: 300px;
    padding: 0 30px;
    transition: .5s;
}

.service-item .service-icon {
    margin-bottom: 30px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary);
    border-radius: 2px;
    transform: rotate(-45deg);
}

.service-item .service-icon i {
    transform: rotate(45deg);
}

.service-item a.btn {
    position: absolute;
    width: 60px;
    bottom: -48px;
    left: 50%;
    margin-left: -30px;
    opacity: 0;
}

.service-item:hover a.btn {
    bottom: -24px;
    opacity: 1;
}


/*** Testimonial ***/
.testimonial-carousel .owl-dots {
    margin-top: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background: #DDDDDD;
    border-radius: 2px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    width: 30px;
    background: var(--primary);
}

.testimonial-carousel .owl-item.center {
    position: relative;
    z-index: 1;
}

.testimonial-carousel .owl-item .testimonial-item {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: #FFFFFF !important;
    box-shadow: 0 0 30px #DDDDDD;
}


/*** Team ***/
.team-item {
    transition: .5s;
}

.team-social {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.team-social a.btn {
    position: relative;
    margin: 0 3px;
    margin-top: 100px;
    opacity: 0;
}

.team-item:hover {
    box-shadow: 0 0 30px #DDDDDD;
}

.team-item:hover .team-social {
    background: rgba(9, 30, 62, .7);
}

.team-item:hover .team-social a.btn:first-child {
    opacity: 1;
    margin-top: 0;
    transition: .3s 0s;
}

.team-item:hover .team-social a.btn:nth-child(2) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .05s;
}

.team-item:hover .team-social a.btn:nth-child(3) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .1s;
}

.team-item:hover .team-social a.btn:nth-child(4) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .15s;
}

.team-item .team-img img,
.blog-item .blog-img img  {
    transition: .5s;
}

.team-item:hover .team-img img,
.blog-item:hover .blog-img img {
    transform: scale(1.15);
}


/*** Miscellaneous ***/
@media (min-width: 991.98px) {
    .facts {
        position: relative;
        margin-top: -75px;
        z-index: 1;
    }
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

.bg-header {
    background: linear-gradient(rgba(9, 30, 62, .7), rgba(9, 30, 62, .7)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.link-animated a {
    transition: .5s;
}

.link-animated a:hover {
    padding-left: 10px;
}

@media (min-width: 767.98px) {
    .footer-about {
        margin-bottom: -75px;
    }
}

.under-navbar-content {
    width: auto !important;
    height: 57px;
    background-color: #222; /* สีพื้นหลังที่คุณต้องการ */
    margin: 0 auto; /* จัดกึ่งกลาง */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* เพิ่มระยะห่างให้กับโลโก้ */
.under-navbar-content .navbar-brand {
    margin-right: 20px; /* เพิ่มระยะห่างจากโลโก้ไปยังลิงก์ถัดไป */
}

.under-navbar-content .navbar-nav {
    display: flex;
    flex-direction: row;
    gap: 60px; /* ระยะห่างระหว่างลิงก์ */
    justify-content: center;
    width: 100%; /* ให้มันกว้างพอที่จะเรียงเป็นแถว */
}

.under-navbar-content .nav-link {
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    padding: 0;
}

.under-navbar-content .nav-link:hover {
    color: var(--primary);
}

.under-navbar-content .navbar-nav .nav-link {
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin-left: 15px; /* เพิ่มระยะห่างระหว่างลิงก์ */
    padding: 10px 0; /* กำหนด padding ด้านบนและด้านล่างของลิงก์ */
    position: relative;
    transition: color 0.3s ease;
}

.under-navbar-content .navbar-nav .nav-link.active {
    color: var(--primary); /* สีของเมนู active */
}

.under-navbar-content .navbar-nav .nav-link.active::after {
    content: "";
    position: absolute;
    bottom: -5px; /* ระยะห่างจากข้อความ */
    left: 50%;
    transform: translateX(-50%);
    width: 50%; /* ความกว้างของเส้นใต้ */
    height: 2px; /* ความหนาของเส้นใต้ */
    background-color: var(--primary);
}

.under-navbar-content .navbar-nav .nav-link:hover::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 2px;
    background-color: var(--primary);
}
.container-fluid.bg-dark {
    border-bottom: 1px solid var(--primary) !important;
}
.rf-ccard-img-full {
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.rf-ccard-content {
    background-color: #fff;
    border-radius: 18px;
    box-shadow: 2px 4px 12px #00000014;
    display: flex;
    flex-direction: column;
    height: 29.4117647059rem;
    overflow: hidden;
    position: relative;
    transition: all .3s cubic-bezier(0,0,.5,1);
    white-space: normal;
    width: 28.2352941176rem
}

.custom-title {
    font-family: 'Prompt', sans-serif; /* ใช้ฟอนต์ Prompt สำหรับภาษาไทย */
    font-size: 2rem; /* ปรับขนาดตามความเหมาะสม */
    font-weight: 700; /* ตัวหนา */
    color: #000000; /* สีดำ */
}

.custom-title .highlight-apple {
    color: #6e6e73; /* สีเทาสไตล์ Apple */
    font-family: 'Inter', sans-serif; /* ใช้ฟอนต์ Inter สำหรับ Apple */
    font-weight: 600; /* น้ำหนักตัวอักษร */
}

.bg-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('~/landingpage/img/bg-login.jpg') no-repeat center center fixed;
    background-size: cover;
    z-index: -1; /* Ensure it stays behind other elements */
    filter: brightness(50%); /* Optional: Dim background for readability */
}   

.login-card,.register-card {
    max-width: 400px;
    margin: 5rem auto; /* Center Card */
    padding: 2rem;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.9); /* Card สีขาวโปร่งแสง */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.login-card h2,
.register-card h2 {
    margin-bottom: 1rem;
    font-weight: bold;
    color: #2a811b;
    text-align: center;
}

.login-card p,
.register-card p {
    color:#000000 50;
    text-align: center;
}

.login-card label {
    font-weight: 600;
    color: #555;
}

.login-card .form-control,
.register-card .form-control {
    border-radius: 10px;
    padding: 0.75rem;
    margin-bottom: 1rem;
}

.form-group input {
    width: 100%;
    height: 50px;
    background: transparent;
    font-size: 1em;
}
.btn-primary {
    width: 100%;
    border-radius: 10px;
    padding: 0.75rem;
}

.login-card .forgot-password {
    text-align: center;
    margin-top: 1rem;
}